psycopg2==2.9.1
pandas==1.5.3
numpy==1.24.1
scikit-learn==1.3.1
datetime==4.7
xgboost==2.0.0
pickle==5.0
joblib==1.3.2
tkinter==8.6.11
logging==3.20.0
dateutil.parser==2.8.2
json==2.0.9
warnings==3.2.1
io==3.10.0
requests==2.31.0
lin==1.1.0